In [1]:
import pandas as pd
pd.options.display.float_format = '{:20,.12f}'.format

In [2]:
bisulfate_file = '/home/bayraktar/PycharmProjects/basecalling_scripts/data/bismark_data/methratio_deduplicate.txt'
header = ['Chr', 'position', 'strand', 'context', 'ratio', 'eff_CT_counts', 'C_counts', 'CT_counts', 'rev_G_counts', 'rev_GA_counts', 'CI_lower', 'CI_upper']
df = pd.read_csv(bisulfate_file, sep='\t', names=header, header=0)
# df['C_counts'] = df['C_counts'].astype(int)
# df['CT_counts'] = df['CT_counts'].astype(int)
# df['ratio'] = df['ratio'].astype(float)

In [3]:
df

,Chr,position,strand,context,ratio,eff_CT_counts,C_counts,CT_counts,rev_G_counts,rev_GA_counts,CI_lower,CI_upper
0,1,5,-,CG,0.000000000000,6.000000000000,0,6,0,0,0.000000000000,0.390000000000
1,1,10,-,CHH,0.000000000000,12.000000000000,0,12,0,0,0.000000000000,0.243000000000
2,1,13,+,CHH,0.000000000000,1.000000000000,0,1,15,15,0.000000000000,0.793000000000
3,1,15,+,CHH,0.000000000000,1.000000000000,0,1,17,17,0.000000000000,0.793000000000
4,1,17,+,CHG,0.000000000000,1.000000000000,0,1,19,19,0.000000000000,0.793000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
19488705,8,3360595,-,CHH,0.000000000000,1.000000000000,0,1,6,6,0.000000000000,0.793000000000
19488706,8,3360596,-,CHH,0.000000000000,1.000000000000,0,1,6,6,0.000000000000,0.793000000000
19488707,8,3360600,-,CHH,0.000000000000,1.000000000000,0,1,3,3,0.000000000000,0.793000000000
19488708,8,3360601,-,CHH,0.000000000000,1.000000000000,0,1,2,2,0.000000000000,0.793000000000
19488709,8,3360602,-,CHH,0.000000000000,1.000000000000,0,1,1,1,0.000000000000,0.793000000000

In [4]:
min_cov = (df['CT_counts'] >= 4)
modified = (df['CT_counts'] >= 4) & (df['C_counts'] >= 3)

In [5]:
df['CT_counts'].describe()

count   19,488,710.000000000000
mean            29.586231926074
std             13.015130926247
min              1.000000000000
25%             21.000000000000
50%             30.000000000000
75%             38.000000000000
max            178.000000000000
Name: CT_counts, dtype: float64

In [6]:
# df['CT_counts'].hist()

In [7]:
df['ratio'].describe()

count   19,488,710.000000000000
mean             0.003549138142
std              0.014934347591
min              0.000000000000
25%              0.000000000000
50%              0.000000000000
75%              0.000000000000
max              1.000000000000
Name: ratio, dtype: float64

In [8]:
# df['ratio'].hist()

In [9]:
len(df[min_cov])

19307970

In [10]:
df[min_cov]['context'].value_counts()

context
CHH    10413535
CG      5034482
CHG     3859953
Name: count, dtype: int64

In [11]:
len(df[modified])

9307

In [12]:
df[modified]['context'].value_counts()

context
CG     4321
CHH    3224
CHG    1762
Name: count, dtype: int64